$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.clear {
    clear: left;
}


.controller {
    
    $internal-margin: 8px;
    
    
    //margin: 8px;
    //margin: 15px;
    //padding: 15px;
    //border: 1px solid black;
    
    .content {
        //margin: 8px;
        padding: 8px;
        background-color: #aaaaaa;
    
    
        .level {

            $level-border-radius: 8px;

            border-radius: $level-border-radius;
            -moz-border-radius: $level-border-radius;
            -webkit-border-radius: $level-border-radius;

            margin: 0px;
            padding: 0px;
            padding-top: 8px;
            margin-right: $internal-margin;
            background-color: black;
            width: 64px;
            //height: 64px;
            text-align: center;
            color: white;
            float: left;

            .level-label {
                font-size: 8px;
                margin: 0px;
                padding: 0px;
                margin-bottom: -4px;
                //background: green;
            }
            .level-number {
                //background: red;
                font-size: 32px;
                margin: 0px;
                padding: 0px;
            }
        }



        .bar {

            $bar-border-radius: 2px;
            $bar-height: 16px;

            float: left;
            //background: red;
            height: $bar-height;

            .bar-background {
                border: solid 1px #dddddd;
                //width: 100%;
                height: $bar-height;
                background: #eeeeee;

                border-radius: $bar-border-radius;
                -moz-border-radius: $bar-border-radius;
                -webkit-border-radius: $bar-border-radius;

            }

            .bar-fill {
                background-color: #0080ff;
                height: 100%;

                border-radius: $bar-border-radius;
                -moz-border-radius: $bar-border-radius;
                -webkit-border-radius: $bar-border-radius;
                /*
                border-top-left-radius: $bar-border-radius;
                -moz-border-top-left-radius: $bar-border-radius;
                -webkit-border-top-left-radius: $bar-border-radius;
                border-bottom-left-radius: $bar-border-radius;
                -moz-border-bottom-left-radius: $bar-border-radius;
                -webkit-border-bottom-left-radius: $bar-border-radius;
                */
            }

            .bar-text {
                position: relative;
                top: -16px;
                font-weight: bold;
                font-size: 10px;
                text-align: right;
                padding-right: 4px;
                //background: green;
            }
        }

        h2 {
            margin: 0px;
            margin-bottom: $internal-margin;
            background: yellow;
            float: left;
        }
    }
}

#time-container {
    #time-total {
        position: relative;
        //top: -42px;
        //background: green;
        width: 100%;
        font-size: 8px;
        color: gray;
        text-align: right;
    }
}