$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.clear {
    clear: left;
}


.controller {
    
    $border-radius: 4px;
    
    $title-height: 48px;
    $info-height: 24px;
    $bar-height: 24px;
    
    $title-color: white;
    $title-bg-color: black;
	
	$info-side-padding: 4px;
    
    $level-color: white;
    $level-bg-color: black;
    
    $total-color: white;
    $total-bg-color: black;
    
    $bar-txt-color: black;
    $bar-fill-color: #0080ff;
    $bar-bg-color: white;
    
    
    //border: 1px solid black;
	@mixin border-radius($radius) {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;
		border-radius: $radius;
	} 
    
    .content {
        padding: 8px;
        background-color: gray;
		@include border-radius($border-radius);
    
        h2 {
			//height: $title-height;
			text-align: center;
            margin: 0px;
            padding: 0px;
            color: $title-color;
            background: $title-bg-color;
        }
    
        .info {
			font-weight: bold;
			margin: 0px;
            padding: 0px;
			//padding-top: 2px;
			float: left;
			//height: $info-height;
			width: 50%;
		}
        
        .level {
			@extend .info;
			color: $level-color;
            background-color: $level-bg-color;
			padding-left: $info-side-padding;
        }

        .total {
			@extend .info;
            color: $total-color;
            background: $total-bg-color;
            text-align: right;
			padding-right: $info-side-padding;
        }

        .bar {

            $bar-border-radius: 2px;
            
			width: 100%;
            height: $bar-height;
			background-color: $bar-bg-color;
			float: left;

            .bar-background {
                //border: solid 1px #dddddd;
                width: 100%;
                height: $bar-height;
                background-color: $bar-bg-color;
            }

            .bar-fill {
                background-color: $bar-fill-color;
                height: 100%;
            }

            .bar-text {
                color: $bar-txt-color;
                position: relative;
                top: -20px;
                font-weight: bold;
                text-align: right;
                padding-right: 4px;
            }
        }

        
    }
}


