<div class="row">
	<div class="about col-md-12">Hi, this is Achiever, a simple webgame and an experiment with <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://sass-lang.com/" target="_blank">SASS</a>/<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.</div>
	<div class="about col-md-12">My name is Damien Remars, I am a web & game designer & developer. You can get in touch with me on <a href="http://www.twitter.com/damrem/">twitter</a>.</div>
</div>

