<div class="row">
	<div class="about col-md-12">
		<a ng-href="#"><img src="images/favicon.png"/>Achiever</a> is a simple webgame made with:
		<ul>
			<li><a href="https://angularjs.org/" target="_blank"><img src="https://angularjs.org/favicon.ico"/>AngularJS</a></li>
			<li><a href="http://sass-lang.com/" target="_blank"><img src="http://sass-lang.com/favicon.ico"/>SASS</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank"><img src="http://getbootstrap.com/favicon.ico"/>Bootstrap</a></li>
			<li><a href="http://gruntjs.com/" target="_blank"><img src="http://gruntjs.com/img/favicon.ico"/>Grunt</a></li>
			<li><a href="http://yeoman.io/" target="_blank"><img src="http://yeoman.io/favicon.ico"/>Yeoman</a></li>
		</ul>
	</div>
	<div class="about col-md-12">
		 You can check the source code on <a href="https://github.com/damrem/achiever" target="_blank"><img src="https://assets-cdn.github.com/favicon.ico"/>Github</a>.
	</div>
	<div class="about col-md-12">My name is Damien Remars, I am a developer & designer working with web & games. You can get in touch with me on <a href="http://www.twitter.com/damrem/"><img src="https://abs.twimg.com/favicons/favicon.ico"/>twitter</a>.</div>
</div>

