<div class="content">
            
    <img class="icon" src="{{icon}}"/>

    <h2>{{title}}</h2>
    
    <div class="level">Level {{level | number}}</div>
    <div class="total">Total: {{total | number}} <span class='unit'>{{unit}}</span></div>

    <div class="bar">
        <div class="bar-background">
            <div class="bar-fill" style="width: {{currentInLevel / totalInLevel * 100}}%" ng-animate="'bar-animate'"></div>
        </div>
        <p class="bar-text">{{currentInLevel | number}}/{{totalInLevel | number}}</p>
    </div>

    <div class="clear"></div>
</div>